# =========================
# .NET build artifacts
# =========================
bin/
obj/

# =========================
# IDEs
# =========================
.vs/
.vscode/
.idea/

*.user
*.suo

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Node (frontend)
# =========================
node_modules/
dist/

# =========================
# Environment & secrets
# =========================
.env
*.secrets.json
*.tfvars

# =========================
# Docker
# =========================
**/docker-compose.override.yml

# =========================
# Terraform
# =========================
.terraform/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db